---
apiVersion: v1
kind: Secret
metadata:
  name: {{ dashboard_user }}
  namespace: {{ dashboard_namespace }}
  annotations:
    kubernetes.io/service-account.name: "{{ dashboard_user }}"
type: kubernetes.io/service-account-token
